<?xml version='1.0' encoding='utf-8'?>
<widget id="com.buscamapas.rutas_senderismo_tablets" 
		version="1.0.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="http://phonegap.com/ns/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>Rutas Senderismo Tablets</name>
    <description>
	Versión de la aplicación 'Rutas Senderismo' optimizada para tablets. Permite buscar y descargar rutas a usuarios de dispositivos que no tienen GPS.
        'Rutas de Senderismo' es una app que te permite acceder a más de 150.000 rutas de senderismo repartidas por todo el mundo. Podrás descargar mapas a tu dispositivo en formato 'kml' y navegar con los principales navegadores GPS(OruxMaps, Google Maps, etc), siempre con la cartografía de fondo de Open Street Map. En breve podrás ver panorámicas y fotografías de las zonas que estás visualizando en el mapa.
    </description>
    <author email="buscamapas.com@gmail.com" href="http://www.buscamapas.com/rutas-senderismo">
        buscamapas.com - Rutas de Senderismo (Hiking Trails)
    </author>

    <content src="index.html" />
    
    <icon src="res/icon.png" />
    <gap:splash src="res/splash.png" />
    
    <gap:splash src="res/ldpi.png" gap:platform="android" gap:density="ldpi"  width="200" height="320" />
	<gap:splash src="res/hdpi.png" gap:platform="android" gap:density="hdpi"  width="480" height="800" />
	<gap:splash src="res/xhdpi.png" gap:platform="android" gap:density="xhdpi" width="720" height="1280" />
	
	<gap:splash src="res/land-ldpi.png" gap:platform="android" gap:density="ldpi"  width="320" height="200" />
	<gap:splash src="res/land-hdpi.png" gap:platform="android" gap:density="hdpi"  width="800" height="480" />
	<gap:splash src="res/land-xhdpi.png" gap:platform="android" gap:density="xhdpi" width="1280" height="720" />
	
    
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="tablet" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="11" />
    <preference name="android-targetSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    
    <!--<preference name="permissions" value="none" />-->

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    
     
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/file-transfer" />
    
     
 	 <feature name="FileOpener2">
         <param name="android-package" value="io.github.pwlin.cordova.plugins.fileopener2.FileOpener2" />
      </feature>
      
      <!-- si funciona inappbrowser, quitar el fileopener2 -->
      <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
      </feature>
      
      <feature name="SplashScreen">
    	<param name="android-package" value="org.apache.cordova.SplashScreen" />
	 </feature>
	 <!--
	 Google Analytics plugin
	 -->
	 <feature name="GAPlugin" >
    	<param name="android-package" value="com.adobe.plugins.GAPlugin"/>
     </feature>
     
     <!--Admob plugin-->
     <feature name="AdMob">
         <param name="android-package" value="com.rjfun.cordova.plugin.AdMob"/>
      </feature>
      
    	
 	 <gap:plugin name="org.apache.cordova.file" />
     <gap:plugin name="org.apache.cordova.file-transfer" />
  <!-- 
      <gap:plugin name="org.apache.cordova.geolocation" />
  -->
     <gap:plugin name="org.apache.cordova.splashscreen" version="0.1.0" />
     
     <gap:plugin name="io.github.pwlin.cordova.plugins.fileopener2" version="1.0.8" />
     
     <gap:plugin name="org.apache.cordova.inappbrowser" />
     
     <gap:plugin name="com.adobe.plugins.gaplugin" />
     
     <gap:plugin name="com.rjfun.cordova.plugin.admob" source="plugins.cordova.io"/>
     
     <gap:config-file platform="android" parent="/manifest" mode="add">
     	<uses-permission android:name="android.permission.INTERNET" />
    	<uses-permission android:name="android.permisssion.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </gap:config-file>
      
     
    <access origin="*" />
</widget>
